<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Login</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="POST" action="/login_staff">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        
        <label for="airline_name">Airline Name:</label>
        <input type="text" id="airline_name" name="airline_name" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        
        <input type="submit" value="Login">
    </form>
    
    <p><a href="/login_user">Login as User</a></p>
    <p><a href="/register_staff">Register as Staff</a></p>

</body>
</html>