<!DOCTYPE html>
<html>
<head>
    <title>Register User</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Register User</h1>
    <form method="POST" action="/register_user">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required>

        <label for="building_number">Building Number:</label>
        <input type="text" id="building_number" name="building_number" required>

        <label for="street">Street:</label>
        <input type="text" id="street" name="street" required>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" required>

        <label for="state">State:</label>
        <input type="text" id="state" name="state" required>

        <label for="zipcode">Zipcode:</label>
        <input type="text" id="zipcode" name="zipcode" required>

        <label for="passport_number">Passport Number:</label>
        <input type="text" id="passport_number" name="passport_number" required>

        <label for="passport_expiration">Passport Expiration:</label>
        <input type="date" id="passport_expiration" name="passport_expiration" required>

        <label for="passport_country">Passport Country:</label>
        <input type="text" id="passport_country" name="passport_country" required>

        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" required>

        <input type="submit" value="Register">
    </form>
    <p><a href="/login_user">Login as Customer</a></p>
</body>
</html>