<!DOCTYPE html>
<html>
<head>
    <title>Register User</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Register User</h1>
    <form method="POST" action="/register_staff">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="airline_name">Airline Name:</label>
        <input type="airline_name" id="airline_name" name="airline_name" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required>

        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" required>

        <label for="email_address">Email Address:</label>
        <input type="email" name="email_address" required>
        <button type="button" id="addEmailBtn">Add Another Email</button>
        <div id="emailContainer"></div>

        <label for="phone_number">Phone Number:</label>
        <input type="tel" name="phone_number" required>
        <button type="button" id="addPhoneBtn">Add Another Phone</button>
        <div id="phoneContainer"></div>

        <input type="submit" value="Register">
    </form>

    <p><a href="/login_staff">Login as Staff</a></p>

    <script>
        document.getElementById("addEmailBtn").addEventListener("click", function() {
            var container = document.getElementById("emailContainer");
            var input = document.createElement("input");
            input.type = "email";
            input.name = "email_address";
            container.appendChild(input);
        });

        document.getElementById("addPhoneBtn").addEventListener("click", function() {
            var container = document.getElementById("phoneContainer");
            var input = document.createElement("input");
            input.type = "tel";
            input.name = "phone_number";
            container.appendChild(input);
        });
    </script>
</body>
</html>