<!DOCTYPE html>
<html>
<head>
    <title>View Customers</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1>View Customers</h1>
        <p>Flight ID: {{ flight_id }}</p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                <tr>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.first_name }}</td>
                    <td>{{ customer.last_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/staff_view_flights" class="btn btn-primary">Back to Flights</a>
    </div>
</body>
</html>